
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using DynamicCv.Models.Entity
@model List<TblSocialMedia>
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Social Media Account List</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">Add Social Media Account</button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>App Name</th>
                                            <th>Delete</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {

                                            <tr>
                                                <td>@x.Id.</td>
                                                <td>@x.AppName</td>
                                                <td>
                                                    <a href="/SocialMedia/DeleteSocialMedia/@x.Id" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash"></i>
                                                        Delete
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/SocialMedia/EditSocialMedia/@x.Id" class="btn btn-info btn-sm">
                                                        <i class="fas fa-pencil-alt"></i>
                                                        Edit
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Add to social media panel</h2>
                    </div>
                    <form method="post" action="/SocialMedia/AddSocialMedia">
                        <div class="modal-body">
                            <label>Social Media App Name</label>
                            <input type="text" class="form-control" name="AppName" />
                            <br />
                            <label>Social Media Link</label>
                            <input type="text" class="form-control" name="Link" />
                            <br />
                            <label>Social Media Icon</label>
                            <input type="text" class="form-control" name="Icon" />
                            <br />
                            <button class="btn btn-info">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.content -->
    </div>
</body>
</html>