@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using DynamicCv.Models.Entity
@model List<TblSkill>

<div class="subheading mb-3">Workflow</div>
<ul class="fa-ul mb-0">
    @foreach (var x in Model)
    {
        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            @x.Skill
        </li>
    }   
</ul>